/*begin base.scss */

/*
Screen Reader Text
---------------------------------------------------------------------------------------------------- */

.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}
.screen-reader-text:focus,
.screen-reader-shortcut:focus,
.genesis-nav-menu .search input[type="submit"]:focus,
.widget_search input[type="submit"]:focus  {
	clip: auto !important;
	height: auto;
	width: auto;
	display: block;
	font-size: 1em;
	font-weight: bold;
	padding: 15px 23px 14px;
	color: #333;
	background: #fff;
	z-index: 100000; /* Above WP toolbar. */
	text-decoration: none;
	box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
}

.more-link {
    position: relative;
}

/*
Skip Links
---------------------------------------------------------------------------------------------------- */

.genesis-skip-link {
	margin: 0;
}

.genesis-skip-link li {
	height: 0;
	width: 0;
	list-style: none;
}

/* Display outline on focus */
:focus {
	color: #333;
	outline: #ccc solid 1px;
}

/*
Fonts
---------------------------------------------------------------------------------------------------- */

body {
	font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6, .site-title {
	font-family: 'Raleway', sans-serif;
}


/*
Site Structure
---------------------------------------------------------------------------------------------------- */

.site-header {
	padding: 20px 0;
}

.site-inner {
	padding: 50px 0;
}

.site-footer {
	padding: 40px 0;
	text-align: center;
}

/*
Site Header
---------------------------------------------------------------------------------------------------- */

.site-header-banner {
	min-height: 300px;
}


/* Title Area
--------------------------------------------- */

.title-area {
	padding-top: 10px;
	padding-bottom: 10px;
}

.site-title {
	font-size: 36px;
	margin-bottom: 0;
}

.site-title a,
.site-title a:hover {
	color: #333;
}

.header-full-width.header-image .site-title a {
	background-position: center !important;
	margin: 0;
	height: 100px;
}

.header-image .site-title a {
	display: block;
	text-indent: -9999px;
}

/*
Site Navigation
---------------------------------------------------------------------------------------------------- */

.nav-primary {
	background-color: #f5f5f5;
}

.navbar-expand-md .navbar-nav .nav-link {
	padding-left: 1rem;
	padding-right: 1rem;
	
}
