/* begin base.scss */

/*
Material Icons
---------------------------------------------------------------------------------------------------- */
.material-icons {
	margin-top: -.1rem;
	padding-bottom: .1rem;
	font-size: inherit;
	line-height: inherit;
	vertical-align: middle;
}

/*
Site Structure
---------------------------------------------------------------------------------------------------- */

.home {
	.layer-wrap {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
}

.site-inner {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.layer-wrap {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;

	// allow fluid image containers to run full bleed
	.container-fluid {
		&.image-container {
			padding-right: 0;
			padding-left: 0;

			.row {
				margin-right: 0;
				margin-left: 0;
			}

			.col {
				padding-right: 0;
				padding-left: 0;
			}
		}
	}
}

/*
Archives
---------------------------------------------------------------------------------------------------- */
.post-type-archive-faq {
	#faq-accordion {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;

		.layer-wrap {
			padding-top: 0;
			padding-bottom: 0;
		}

		.entry {
			margin-bottom: 0;
		}
	}
}

.pagination {
	margin-bottom: 1.5rem;
	justify-content: center;
}

/*
Layers
---------------------------------------------------------------------------------------------------- */
.carousel {
	overflow: hidden;

	.carousel-control-prev, .carousel-control-next {
		opacity: .8;
		width: 5%;
	}
}

.directory-contact {
	.directory-name {
		font-size: 1.6rem;
		text-align: center;
		letter-spacing: .05rem;
	}

	.directory-title {
		text-align: center;
		font-weight: bold;
	}
}

.container-fluid {
  .hero-col {
    padding-left: 0;
    padding-right: 0;
  }
}

.hero-media {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  img, video {
    width: 100%;
  }
}

.hero-info {
  padding: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.related-post-wrap {
	display: block;
}

.related-content-wrap {
	.related-post {
		padding-bottom: 1.5rem;
	}

	.carousel-item {
		padding-bottom: 0;
	}

	.related-post-image {
		font-size: 3rem;
    text-align: center;

    a {
      display: block;
    }
	}
}
