/* begin wordpress.scss */
.page,
.single {
	.entry-header {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
  }

  .entry-meta {
    margin-bottom: 0;
  }
}

.archive-description {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.entry {
	margin-bottom: 1.5rem;
}

.entry-content {
	img {
		@extend .img-fluid;
	}

	figure {
		@extend .mb-0;
		@extend .card;
		@extend .img-fluid;

		img {
			margin: 0;
			width: 100%;
		}

		figcaption {
			@extend .card-body;
			@extend .card-text;
			@extend .small;
			@extend .text-muted;
		}
	}

	table {
		@extend .table;
	}
}

.alignleft {
	@extend .float-left;
	@extend .mr-3;
}

.alignright {
	@extend .float-right;
	@extend .ml-3;
}

.aligncenter {
	@extend .mx-auto;
	@extend .d-block;
}

.gallery-layer {
	@extend .mx-0;
}

.gallery {
	padding-left: 10px;
	padding-right: 10px;
	@extend .row;

	.gallery-item {
		@extend .mb-0;
		padding: 5px !important;
		@extend .card;
		@extend .img-fluid;
		@extend .col-12;
		@extend .border-0;

		.media-container,
		 {
			img {
				@extend .mx-auto;
				@extend .d-block;
				margin: 0;
				width: 100%;
			}
		}
	}

	&.gallery-columns-2 {
		.gallery-item {
			@extend .col-6;
		}
	}

	&.gallery-columns-3 {
		.gallery-item {
			@extend .col-4;
		}
	}

	&.gallery-columns-4 {
		.gallery-item {
			@extend .col-4;
			@extend .col-md-3;
		}
	}

	&.gallery-columns-5 {
		@extend .d-flex;
		.gallery-item {
			@extend .col-4;
			@include media-breakpoint-up(md) {
				flex: 0 0 20% !important;
			}
		}
	}

	&.gallery-columns-6 {
		.gallery-item {
			@extend .col-4;
			@extend .col-md-3;
			@extend .col-lg-2;
		}
	}

	&.gallery-columns-7 {
		.gallery-item {
			@extend .col-4;
			@extend .col-sm-3;
			@extend .col-md-2;
			@include media-breakpoint-up(lg) {
				flex: 0 0 14.2857% !important;
			}
		}
	}

	&.gallery-columns-8 {
		.gallery-item {
			@extend .col-4;
			@extend .col-sm-3;
			@extend .col-md-2;
			@include media-breakpoint-up(lg) {
				flex: 0 0 12.5% !important;
			}
		}
	}

	&.gallery-columns-9 {
		.gallery-item {
			@extend .col-4;
			@extend .col-sm-3;
			@extend .col-md-2;
			@include media-breakpoint-up(lg) {
				flex: 0 0 11.1111% !important;
			}
		}
	}
}

.widget {
  margin-bottom: .5rem;
	padding-top: .5rem;
  padding-bottom: .5rem;

  ul {
    padding-left: 1.5rem;
  }

	&.widget_nav_menu {
		.menu {
			padding-left: 0;
			list-style-type: none;
		}
	}
}

.entry-comments {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  h3 {
    margin-bottom: 1.5rem;
  }

  .comment-list {
    padding-left: 0;
    list-style-type: none;
  }

  .children {
    margin-left: 5px;
    padding-left: 1rem;
    list-style-type: none;
    border-left: 2px solid $gray-200;
  }

  .comment {
    margin: -5px;
    position: relative;

    article {
      padding: 5px;
      margin-bottom: 1.5rem;
      border-radius: 5px;

      &:hover {
        background-color: $gray-100;
      }
    }
  }

  .comment-author {
    margin-bottom: 0;

    span[itemprop="name"] {
      font-weight: bolder;
    }

    .says {
      color: $gray-500;
    }
  }

  .avatar {
    margin: 0 1rem .25rem 0;
    float: left;
  }

  .comment-meta {
    margin-bottom: 0;
    text-transform: uppercase;
  }

  .comment-time-link {
    font-size: .9rem;
  }

  .comment-edit-link {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  .comment-content {
    padding-top: 1rem;
    padding-bottom: .5rem;
    clear: left;
  }

  .comment-reply {
    text-transform: uppercase;
    font-size: .9rem;
  }
}
