.entry-content {
	img {
		@extend .my-1;
		@extend .img-fluid;
	}
	
	figure {
		@extend .card;
		@extend .img-fluid;
		
		img {
			@extend .m-0;
			@extend .card-img-top;
		}
		
		figcaption {
			@extend .card-body;
			@extend .card-text;
			@extend .small;
			@extend .text-muted;
		}
	}
	
	table {
		@extend .table;
	}
}

.alignleft {
	@extend .float-left;
	@extend .mr-3;
}

.alignright {
	@extend .float-right;
	@extend .ml-3;
}

.aligncenter {
	@extend .mx-auto;
	@extend .d-block;
}

.gallery {
	@extend .row;
	
	.gallery-item {
		@extend .col-12;
		@extend .border-0;
		
		.gallery-icon {
			img {
				@extend .mx-auto;
				@extend .d-block;
				@extend .img-thumbnail;
			}
		}
	}

	&.gallery-columns-2 {
		.gallery-item {
			@extend .col-md-6;
		}
	}

	&.gallery-columns-3 {
		.gallery-item {
			@extend .col-sm-6;
			@extend .col-md-4;
		}
	}

	&.gallery-columns-4 {
		.gallery-item {
			@extend .col-sm-6;
			@extend .col-md-4;
			@extend .col-lg-3;
		}
	}

	&.gallery-columns-5 {
		@extend .d-flex;
		.gallery-item {
			@extend .col-6;
			@extend .col-md-4;
			@include media-breakpoint-up(lg) {
				flex: 0 0 20% !important;
			}
		}
	}

	&.gallery-columns-6 {
		.gallery-item {
			@extend .col-6;
			@extend .col-sm-4;
			@extend .col-md-3;
			@extend .col-lg-2;
		}
	}

	&.gallery-columns-7 {
		.gallery-item {
			@extend .col-6;
			@extend .col-sm-4;
			@extend .col-md-3;
			@include media-breakpoint-up(lg) {
				flex: 0 0 14.2857% !important;
			}
		}
	}

	&.gallery-columns-8 {
		.gallery-item {
			@extend .col-6;
			@extend .col-sm-4;
			@extend .col-md-3;
			@include media-breakpoint-up(lg) {
				flex: 0 0 12.5% !important;
			}
		}
	}

	&.gallery-columns-9 {
		.gallery-item {
			@extend .col-6;
			@extend .col-sm-4;
			@extend .col-md-3;
			@include media-breakpoint-up(lg) {
				flex: 0 0 11.1111% !important;
			}
		}
	}
}
